* {
    box-sizing: border-box;
}

html {
    background: #D3D3D3;
    font-family: 'Times New Roman', Times, serif;

}

.likes {
    padding: 10px;
    transform: translate(0%, -100%);
}




.img-test-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 100%;
    transition: all .2s ease-in-out;

}

/* .img-test-1:hover{
    scale: 1.2;
    
}
*/

.likes ::before {
    content: "♡";
    display: block;
}

.like-symbol {
    text-align: right;
    float: right;
    padding-right: 10px;

}

.container img {
    vertical-align: middle;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.container .likes {
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding-bottom: 100px;
    z-index: 100;
}


.like-count {
    margin-top: auto;
    text-align: right;
    float: right;
    font-size: 18px;
}

.article-dog-1 {
    background-color: rgb(194, 105, 105);
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 18%;
    text-align: center;
    transition: all .2s ease-in-out;

}

.article-dog-1:hover {
    scale: 1.2;
}