html {
    background: #D3D3D3;
    font-family: 'Times New Roman', Times, serif;

}

.likes {
    padding-top: 10px;
}

.img-test-1:hover{
    scale: 1.2;

}


.img-test-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 100%;
    
}

.like-symbol {
    text-align: right;
    float: right;
    padding-right: 10px;
    
}

.like-count {
    margin-top: auto;
    text-align: right;
    float: right;
    font-size: 18px;
}

.article-dog-1 {
    background-color: red;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 20%;
    text-align: center;
    
}
