 

.the-first-div-originally-blue {
    background: #0000FF;
    padding-bottom: 50px;
    transition: all 1s ease;
     
    
}

.the-second-div-originally-green {
    background: #00ff08;
    padding-bottom: 50px;
    transition: all 1s ease;
    
}

.container .the-first-div-originally-blue:hover ~ .the-second-div-originally-green {
    background: #0000FF;
    font-weight: bold;
}

.container .the-second-div-originally-green:hover ~ .the-first-div-originally-blue {
    background: #00ff08;
    font-weight: bold;
}
