div {
    border: 1px solid black;
    width: 500px;
}
.container {
    margin:auto;
    height: 500px;
}
.coloured_box {
    height: 50%;
    transition: all 0.5s ease-in-out;
}
.red_to_green {
    background-color: red;
}
.green_to_red {
    background-color: green;
}
/* Make a following green_to_red be red */
.red_to_green:hover ~ .green_to_red {
    background-color: red;
}
/* Make a thing that has a following green_to_red:hover be green */
*:has(+ .green_to_red:hover) {
    background-color: green;
}