.img-test-1 {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 20%;
    
}

.like-symbol {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
   width: 15%;
    text-align: right;
    
}